body
{
	background-image: url(bckgrnd.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.button4 
{
	width: 100%;
	margin : auto;
	text-align: center;
	float: left;
}
.button4 button
{
	width: 170px;
    margin-top: 30px;
	background: #FFFFFF;
	border-radius: 20px;
	padding:10px;
	color: #FA9326;
	border:1px solid #FA9326;
	font: 14px Helvetica, sans-serif;
	font-weight: lighter;
	cursor: auto;
}
.button4 :hover
{
	background: #FA9326;
	color: #FFFFFF;
}

.button5
{
	width: 100%;
	margin : auto;
	text-align: center;
	float: left;
}

.button5 button
{
    width: 105px;
	background: #FCB040;
	padding:7px;
	color: #FFFFFF;
	border:1px solid #FCB040;
	font: 12px Helvetica, sans-serif;
	cursor: auto;
}
.button5 button:hover
{
	background: #FA9326;
	border:1px solid #FA9326;
}

.triangle-up {
	position: relative;
	left: 50%;
	top: 10%;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 7px solid #FCB040;
}
.triangle-up:hover
{
	border-bottom: 7px solid #F;
}

.button8
{
	width: 100%;
	margin : auto;
	text-align: center;
	float: left;
}

.button8 button
{
    width: 105px;
	background: #F1F1F1;
	padding:7px;
	color: black;
	border:1px solid #F1F1F1;
	font: 12px Helvetica, sans-serif;
	cursor: auto;
}
.triangle-up1 {
	position: relative;
	left: 50%;
	top: 10%;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 7px solid #F1F1F1;
}

.box
{
	margin-top: 30px;
}